body{
background-color: #fff;
}
.header{
padding: 15px;
background: #54d6b2;
}
.maincontent{
  width: 100%;
  display: flex;
  background-color: #777;
  height: 600px;
}
.content1{
background: #fff;
width: 50%;
}

#rym{
  width: 100%;
  height: auto;
}
.content2{
  background: #fff;
  width: 50%;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;

}
  h1{
  text-align: center;
  font-size: 55px;
  color: #54d6b2;
}
.button{
  background-color: #fff;
  width: 350px;
  height: 100px;
 align-self: center;
}
#facebook{
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 12px;
}
.placeholder{
  background: #fff;
  width: 350px;
  height: 200px;
  align-self: center;
}
#email{
  width: 250px;
  height: 18px;
  padding: 18px;
  border: 1.5px solid #54d6b2 ;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #EAEDED;
  text-align: left;
}
#password{
  width: 250px;
  height: 18px;
  padding: 18px;
  border: 1.5px solid #54d6b2;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #EAEDED;
  text-align: left;

}
#registro{
  background-color: #54d6b2;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  padding: 14px 40px;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
}
#registro:hover {
  background-color:#bd6aff;
  color: white;
  }


.footer {
padding: 16px;
background: #54d6b2;
}
.header2{
padding: 0px;
background: #fff;
}
h2{
  text-align: left;
  font-size: 45px;
  color: #54d6b2;
}
h3{
  text-align: center;
  font-size: 20px;
}
.maincontent1{
  width: 100%;
display: flex;
background-color: #fff;
height: 600px;
flex-wrap: wrap;
justify-content:  center;
}
.content3{
  background: #54d6b2;
  width: 55%;
  height: 500px;
  text-align: left;
}

#enviar{
  background-color: #00b39d;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  padding: 14px 40px;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
}
#enviar:hover {
  background-color:#bd6aff;
  color: white;
  }

.footer2 {
padding: 15px;
background: #54d6b2;
}
#screen1 {
display: block;
}
#screen2 {
display: block;
}
